button {
  background-color: rgb(9, 34, 66);
  cursor: pointer;
  color: white;
  border: none;
  font-size: 18px;
  width: 140px;
  height: 40px;
  margin: 1em 0;
}

button .disabled {
  background-color: rgb(112, 128, 148);
  cursor: not-allowed;
}