.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-grow infinite 2s linear alternate;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.brand {
  background-color: none;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 60px;

}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

@keyframes App-logo-grow {
  to { transform: scale(1.1); }
}
