h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: 'Open Sans';
}

select {
    margin-top: 4em;
}

.jumbotron {
    background: none;
}